.App {
  text-align: center;
  background-image: url(../public/background.gif);
  background-repeat: no-repeat;
  z-index: 2;
  background-size: contain;
}



.logo {
  max-width: 45px !important;
  pointer-events: none;
}

.full {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden !important;
}

video { 
  border-radius: 4px;
  border:  2px solid white;
  max-width: 300px !important;
  max-height: 300px;
  /* padding: 1.2em;
  margin: 1.2em; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#root {
  min-height:  100vh;
  background-color: #282c34;
  display: flex;

  align-content: center;
  flex-wrap: wrap;
 
}
.background {
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}


